@import "tailwindcss";


.btn{
    @apply bg-slate-800 cursor-pointer hover:bg-slate-700;

    &.active{
        @apply bg-blue-900 hover:bg-blue-800;
    }
}

.material-symbols-outlined{
    max-width: 24px;
    max-height: 24px;
    overflow: hidden;
    font-size: 20px;
}