@import 'tailwindcss';

.floating-helper {
  position: absolute;
  background-color: #1e293b8e;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  right: 0;
  display: none;
  max-width: 300px;
  overflow: auto;
}

.float-wrapper {
  .selecting-block-button {
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;

    &:hover {
      opacity: 1;
      background-color: #2563eb33;
      outline: 1px dashed #3b82f6;
      color: rgba(255, 255, 255, 0);
    }
  }

  &:hover {
    .floating-helper {
      display: block;
    }
  }
}

.bg_1 {
  background-color: light-dark(var(--bg_1), var(--bg_1_dark));
}

.bg_2 {
  background-color: light-dark(var(--bg_2), var(--bg_2_dark));
}

.bg_3 {
  background-color: light-dark(var(--bg_3), var(--bg_3_dark));
}

.text_1 {
  color: light-dark(var(--text_1), var(--text_1_dark));
}

.text_2 {
  color: light-dark(var(--text_2), var(--text_2_dark));
}

.text_3 {
  color: light-dark(var(--text_3), var(--text_3_dark));
}
