@import 'tailwindcss';

.floating-helper {
  position: absolute;
  background-color: #1e293b8e;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  right: 0;
  display: none;
  max-width: 300px;
  overflow: auto;
}

.float-wrapper {
  .selecting-block-button {
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;

    &:hover {
      opacity: 1;
      background-color: #2563eb33;
      outline: 1px dashed #3b82f6;
      color: rgba(255, 255, 255, 0);
    }
  }

  &:hover {
    .floating-helper {
      display: block;
    }
  }
}
