@import 'tailwindcss';

.float-wrapper {
  position: absolute;
  inset: 0;
  min-height: 1.5rem;

  &.is-selected {
    outline: 2px dashed #3b82f6;
    outline-offset: -1px;
    opacity: 0.8;
    background-color: #2563eb33;

    &:hover .helper-info {
      background-color: #154a9e;
      color: #ffffff;
      font-size: 12px;
      padding: 2px 4px;
      position: absolute;
      bottom: -24px;
      right: 0;
      white-space: nowrap;
      display: block;
    }
  }

  .helper-info {
    display: none;
  }

  .selecting-block-button {
    position: absolute;
    inset: 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0);

    &:hover {
      opacity: 1;
      background-color: #2563eb33;
      outline: 2px dashed #3b82f6;
    }
  }
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg_1 {
  background-color: light-dark(var(--bg_1), var(--bg_1_dark));
}

.bg_2 {
  background-color: light-dark(var(--bg_2), var(--bg_2_dark));
}

.bg_3 {
  background-color: light-dark(var(--bg_3), var(--bg_3_dark));
}

.text_1 {
  color: light-dark(var(--text_1), var(--text_1_dark));
}

.text_2 {
  color: light-dark(var(--text_2), var(--text_2_dark));
}

.text_3 {
  color: light-dark(var(--text_3), var(--text_3_dark));
}

.bg_4 {
  background-color: light-dark(var(--bg_4), var(--bg_4_dark));
}

.bg_5 {
  background-color: light-dark(var(--bg_5), var(--bg_5_dark));
}

.text_4 {
  color: light-dark(var(--text_4), var(--text_4_dark));
}

.text_5 {
  color: light-dark(var(--text_5), var(--text_5_dark));
}

p,
h1,
h2,
h3 {
  min-height: 1.5rem;
}
