---
const title = 'Preview'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#FF0000" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <main>preview stuff here</main>
  </body>
</html>
