---
import '../styles/preview.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#FF0000" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Preview</title>
  </head>
  <body>
    <header>TODO: Menu here</header>
    <main>&nbsp;</main>
    <footer>TODO: Footer here</footer>
    <div class="debug">
      <textarea id="selectedPage" readonly class="info"></textarea>
    </div>
    <script is:inline type="module" src="/src/previewRender/index.ts"></script>
  </body>
</html>
