---
const title = 'Preview'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#FF0000" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <style>
      html {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: white;
        color: black;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 98vh;

        main {
          flex: 1;
        }
      }
      #selectedPage {
        width: 100%;
        height: 400px;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid red;
        background-color: #f9f9f9;
      }
    </style>
  </head>
  <body>
    <header>Menu here</header>
    <main>preview stuff here</main>
    <footer>Footer here</footer>
    <div class="debug">
      <textarea id="selectedPage" readonly></textarea>
    </div>
    <script is:inline type="module">
      // listen to storage changes and update the page accordingly
      window.addEventListener('storage', (event) => {
        if (event.key === 'selectedElement') {
          const selectedFromStorage = JSON.parse(event.newValue)
          console.log('Selected element changed in storage:', selectedFromStorage)
        }
        if (event.key === 'selectedPage') {
          const selectedPageFromStorage = JSON.parse(event.newValue)
          const selectedPageTextarea = document.getElementById('selectedPage')
          selectedPageTextarea.value = JSON.stringify(selectedPageFromStorage?.data, null, 2)
          console.log('Selected page changed in storage:', selectedPageFromStorage)
        }
      })
    </script>
  </body>
</html>
