---
import '../styles/preview.css'

const title = 'Preview'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#FF0000" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <header>Menu here</header>
    <main>preview stuff here</main>
    <footer>Footer here</footer>
    <div class="debug">
      <textarea id="selectedPage" readonly class="info"></textarea>
      <textarea id="selectedElement" readonly class="info"></textarea>
      <textarea id="darkMode" readonly class="info"></textarea>
    </div>
    <script is:inline type="module" src="/src/previewRender/index.ts"></script>
  </body>
</html>
