---
import FrontPageLayout from '../layouts/FrontPageLayout.astro'
import AuthGate from '../components/AuthGate.svelte'
import SingleProject from '../components/project/index.svelte'
---

<FrontPageLayout>
  <AuthGate client:only="svelte">
    <div class="container mx-auto mt-10 px-4">
      <h1 class="text-3xl border-b pb-2 mb-5 border-slate-700">Project</h1>

      <div><SingleProject client:only="svelte" /></div>
    </div>
  </AuthGate>
</FrontPageLayout>
