---
import '../styles/global.css'

const { title = 'SCMS' } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="bg-slate-900 text-white px-4">
    <nav class="flex gap-2 container mx-auto">
      <a href="#">Home</a>
      <a href="#">FAQ</a>
      <a href="#">Contact</a>
    </nav>
    <article class="mt-4">
      <slot />
    </article>
    <!-- <Footer /> -->
  </body>
</html>
